{% extends "base.html" %}

{% block content %}
<br><br><br><br>
<div class="box3">
<form method="POST" action="/genre_u">
<p style="text-align: center; font-size:25px;">GIVE YOUR PREFERENCE</p><br>
<article>
  <div>
    <label><input type="checkbox" name="mycheckbox" value="Action"/>  Action</label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Adventure"/>  Adventure</label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Animation"/>  Animation</label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Comedy"/>  Comedy</label><br><br>
  </div>  

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Crime"/>  Crime</label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Documentry"/>  Documentry</label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Drama"/>  Drama</label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Family"/>  Family</label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Fantasy"/>  Fantasy </label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="History"/>  History </label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Horror"/>  Horror</label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Musical"/>  Musical</label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Mystery"/>  Mystery</label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Romance"/>  Romance</label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Sci-Fi"/>  Science Fiction</label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Thriller"/>  Thriller</label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="War"/>  War </label><br><br>
  </div>

  <div>
    <label><input type="checkbox" name="mycheckbox" value="Western"/>  Western</label><br><br>
  </div>
</article>

<div class="button"><br><br>
<button type="submit" class="submitbtn">Submit</button></a></div>
</form>
{% endblock %}

