{% extends "base.html" %}
{% set active_page = "menu1" %}
{% block content %}
  {{email}}
  {{new_password}}
    
    <div class="box">
        {% with messages = get_flashed_messages() %}
	{% if messages %}
   	 
      	  &nbsp;&nbsp;{{ messages[0] }}<br>&nbsp;&nbsp;New user?&nbsp; <a href="{{ url_for('auth.signup') }}"><font color="blue">Sign up</font></a> &nbsp; with your email
  	 
	{% endif %}
	{% endwith %}
        <form method="POST" action="/login">
	  <br><h3 class="title"><b><font color="#00bc8c">SIGN IN</font></b></h3>
	  <label>&nbsp;&nbsp;Email</label><br>
	  <input class="box1" type="email" placeholder="Your mailid" name="email" size="30" required>
	  
	  <label>&nbsp;&nbsp;Password<br></label><br>
	  <input class="box1" type="password" placeholder="Your Password" name="password" size="30" required><br>

	  
	  &nbsp;&nbsp;<input type="checkbox" name="remember" style="margin-bottom:15px"> Remember me<br>
	
            
            <button class="box2">Login</button>
            <li>&nbsp;<a href="{{ url_for('auth.update') }}" style="color: white; margin-right: 100px;">forgot password </a>&nbsp;&nbsp;</li>
        </form>
    </div>
{% endblock %}

